<h1>詳細画面</h1>
<div class="container">
  <table class="table table-hover">
  <div class="row">
    <tr>
      <td>
        <%= @picture.user.name %>さんが投稿しました。
      </td>
      <td>
        <p><%= image_tag(@picture.image.url , :size =>'480x480') if @picture.image.url %></p>
        <p>コメント: <%= @picture.content %></p>
      <% unless @picture.user_id == current_user.id  %>
        <% if @favo.present? %>
          <p><%= link_to 'お気に入り解除する', favo_path(id: @favo.id), method: :delete, class: 'btn btn-danger' %></p>
        <% else %>
          <p><%= link_to 'お気に入りする', favo_index_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %></p>
        <% end %>
      </td>
      <% end %>
    </tr>
  </table>
  </div>
</div>
<br>
<%= link_to "投稿一覧画面にもどる", pictures_path %>
